*{
    font-family: "Urbanist", "Arial", sans-serif;
}
.todo-container{
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9c1;
}
.completed {
    text-decoration: line-through;
    color: gray;
}
